.dashboardContainer {
  padding: 2rem;
}

.tabContainer {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tabButton {
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  cursor: pointer;
  font-weight: normal;
}

.activeTab {
  border-bottom: 2px solid blue;
  font-weight: bold;
}

.tabHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.tabs {
  display: flex;
  gap: 1rem;
}

.signOutButton {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signOutButton:hover {
  background-color: #c9302c;
}
